@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold-webfont.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-light-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}


body {
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #464646;

  background-color: #ffffff;
}

.hidden {
  display: none;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #000000;
}

.button {
  display: inline-block;
  height: 40px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 3.6px;
  color: #000000;
  text-transform: uppercase;

  text-align: center;
  vertical-align: middle;

  background-color: rgba(255, 255, 255, 0);
  background-image: linear-gradient(rgba(255, 255, 255, 0) 40%, #f0c52e 40%, #f0c52e 60%, rgba(255, 255, 255, 0) 60%);
  border: none;
  outline: none;

  cursor: pointer;
}

.button:hover,
.button:focus {
  color: #000000;
  background-color: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #f0c52e;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.5px;
  color: #000000;
}

.main-header {
  color: #000000;
  background-color: #f7e296;
  background-image: linear-gradient(#ffffff 40px, #f7e296 40px);
}

.header-logo,
.footer-logo {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.5px;
  color: #000000;
}

.header-logo:hover,
.header-logo:focus {
  color: rgba(0, 0, 0, 0.6);
}

.header-logo:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-search input {
  font: inherit;

  background-color: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
}

.site-search input:focus {
  border-bottom: 2px solid #000000;
}

.site-search input:focus + .site-search-button {
  display: inline-block;
}

.site-search input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.site-search input:hover::placeholder,
.site-search input:focus::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.site-search-button {
  font: inherit;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  color: #000000;
  
  text-align: center;
  vertical-align: middle;

  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #000000;
  cursor: pointer;
}

.site-search-button:hover, 
.site-search-button:focus {
  color: #ffffff;
  background-color: #000000;
}

.site-search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.user-navigation-link {
  color: #000000;
}

.user-navigation-link:hover,
.user-navigation-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.user-navigation-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation,
.catalog-subnavigation,
.product-categories-list,
.services-navigation,
.popular-brands-list,
.footer-options-links,
.footer-navigation,
.footer-social,
.breadcrumbs,
.colors-filter,
.bluetooth-filter,
.catalog-list,
.services-slider-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-navigation-item > a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: #000000;
  text-transform: uppercase;
}

.catalog-navigation-item:hover .catalog-subnavigation{
  display: block;
}

.catalog-subnavigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.product-categories-list a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.product-categories-list a:active { 
   color: rgba(0, 0, 0, 0.3);
}

.services-navigation .button:active,
.services-navigation-current .button {
  color: #f7e184;
  background-image: none;
  background-color: #000000;
}

.about-us p,
.contacts p {
  letter-spacing: 0px;
}

.about-us li{
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0px;
}

.footer-logo {
  color: #ffc600;
}

.footer-logo:hover,
.footer-logo:focus {
  color: rgba(255, 190, 0, 0.6);
}

.footer-logo:active {
  color: rgba(255, 190, 0, 0.3);
}

.main-footer {
  color: #ffffff;
  background-color: #464646;
}

.footer-options-links a{
  line-height: 36px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-options-links a:hover,
.footer-options-links a:focus{
  color: rgba(255, 255, 255, 1);
}

.footer-options-links a:active{
  color: rgba(255, 255, 255, 0.3);
}

.footer-phone,
.footer-address {
  letter-spacing: 0px;
}

.footer-navigation a{
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs a,
.breadcrumbs-current {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

h2.filter-title,
h2.sorting-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.filter-form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.filter-form legend {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #000000;
}

.filter-form label {
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.1px;
  color: #000000;
}

.filter-input:disabled + label {
  color: #a6a6a6;
}

.catalog-item {
  margin-bottom: 70px;
}

.catalog-item h3{
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.catalog-item-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.catalog-item .add-to-comparelist-link {
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: rgba(0, 0, 0, 0.5);
}

.catalog-item .add-to-comparelist-link:hover,
.catalog-item .add-to-comparelist-link:focus {
  color: rgba(0, 0, 0, 1);
}

.catalog-item .add-to-comparelist-link:active { 
  color: rgba(0, 0, 0, 0.2);
}



/* Стили для сетки */

.container {
  width: 1160px;
  margin: 0 auto;
  box-sizing: border-box;
}

.main-header {
  display: flex;
  flex-direction: column;
  padding: 60px;
  padding-top: 17px;
  margin-bottom: 100px;
}

.header-logo {
  margin-bottom: 20px;
}

.addl-navigation {
  display: flex;
  margin-bottom: 30px;
}

.user-navigation {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.site-search {
  width: 440px;
  height: 50px;
  margin-right: auto;
}

.user-block {
  margin-right: auto;
}

.site-navigation {
  display: flex;
}

.catalog-navigation-item {
  margin-right: 320px;
}

.site-navigation-item:nth-child(2) {
  margin-right: 20px;
}

.site-navigation-item:nth-child(3) {
  margin-right: auto;
}

.site-search input {
  width: 355px;
}

.product-categories {
  margin-bottom: 10px;
}

.product-categories-list {
  display: flex;
  flex-wrap: wrap;
}

.product-categories-list li {
  width: 160px;
  margin-right: 40px;
}

.product-categories-list li:nth-child(6n) {
  margin-right: 0px;
}

.services-slider {
  padding-top:70px;
  padding-bottom:70px;
  margin-bottom: 95px;

  background-image: linear-gradient(#ffffff 170px, #e5e5e5 170px);
}

.services-slider .container {
  display: flex;
  min-height: 320px;
}

.services-navigation {
  box-sizing: border-box;
  width: 285px;
 /* padding-top: 80px;*/
  margin-right: 115px;
  min-height: 320px;
  border-right: 7px solid #000000;
}

.services-navigation li {
  margin-bottom: 25px;
}

.services-navigation li:first-child {
  margin-top: 80px;
}

.services-navigation li:last-child {
  margin-bottom: 70px;
}

.services-description-slide {
  padding-top: 75px;
}

.popular-brands-list {
  display: flex;
  margin-bottom: 93px;
}

.popular-brands-list li:not(:last-child) {
  margin-right: 40px;
}

.about-us-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.about-us,
.contacts {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 560px;
}

.about-us .button,
.contacts .button {
  width: 260px;
  margin-top: auto;
}

.main-footer {
  padding-top: 65px;
  padding-bottom: 65px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.footer-options-links li {
  display: inline-block;
}

.footer-options-links li:not(:last-child) {
  margin-right: 40px;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}

.footer-navigation li {
  display: inline-block;
}

.footer-navigation li:not(:last-child) {
  margin-right: 35px;
}

.footer-address,
.footer-phone {
  margin: 0px;
}

.footer-bottom::before {
  content: "";
  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social li {
  display: inline-block;
}

.footer-copyright {
  margin: 0px;
}

.footer-copyright img {
  vertical-align: bottom;
}

.inner-page .main-header {
  margin-bottom: 40px;
}

main h1{
  margin-bottom: 30px;
}

main .breadcrumbs {
  margin-bottom: 50px;
}

main.container {
 padding-left: 60px;
}

.breadcrumbs li {
  display: inline-block;
}

.breadcrumbs li:not(:last-child) {
  margin-right: 35px;
}

.sorting-column-wrapper {
  background-image: linear-gradient(to right, #dbdbdb 50%, #ebebeb 50%);
}

.sorting-column {
  display: flex;
  min-height: 70px;
}

h2.filter-title {
  width: 270px;
  padding-top: 24px;
  padding-left: 60px;

  background-color: #dbdbdb;
}

.sorting {
  width: 760px;
  display: flex;
  align-items: center;
}

.catalog-columns-wrapper {
  background-image: linear-gradient(to right, #efefef 50%, #ffffff 50%);
}

.catalog-columns {
  display: flex;
}

.left-column {
  width: 270px;
  padding-left: 60px;
  margin-left: auto;

  background-color: #efefef;
}

.right-column {
  width: 760px;
  padding-left: 70px;
  padding-top: 70px;
  padding-bottom: 80px;
  margin-right: auto;

  background-color: #ffffff;
}

.sorting {
  padding-left: 70px;

  background-color: #ebebeb;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item p {
  padding: 0;
  margin: 0;
}