@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold-webfont.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-light-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}


body {
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #464646;

  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}

.button {
  display: inline-block;
  height: 40px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 3.6px;
  color: #000000;
  text-transform: uppercase;

  text-align: center;
  vertical-align: middle;

  background-color: rgba(255, 255, 255, 0);
  background-image: linear-gradient(rgba(255, 255, 255, 0) 40%, #f0c52e 40%, #f0c52e 60%, rgba(255, 255, 255, 0) 60%);
  border: none;
  outline: none;

  cursor: pointer;
}

.button:hover,
.button:focus {
  color: #000000;
  background-color: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #f0c52e;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.5px;
  color: #000000;
}

.main-header {
  color: #000000;
  background-color: #f7e296;
  background-image: linear-gradient(#ffffff 40px, #f7e296 40px);
}

.header-logo,
.footer-logo {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.5px;
  color: #000000;
}

.header-logo[href]:hover,
.header-logo[href]:focus {
  color: rgba(0, 0, 0, 0.6);
}

.header-logo[href]:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-search input {
  font: inherit;

  background-color: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
}

.site-search input:focus {
  border-bottom: 2px solid #000000;
}

.site-search input:focus + .site-search-button {
  display: inline-block;
}

.site-search input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.site-search input:hover::placeholder,
.site-search input:focus::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.site-search-button {
  padding: 7px 18px;

  font: inherit;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  color: #000000;
  
  text-align: center;
  vertical-align: middle;

  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #000000;
  cursor: pointer;
}

.site-search-button:hover, 
.site-search-button:focus {
  color: #ffffff;
  background-color: #000000;
}

.site-search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.user-navigation-link {
  color: #000000;
}

.user-navigation-link:hover,
.user-navigation-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.user-navigation-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation-link:hover path,
.user-navigation-link:focus path {
  fill: rgba(0, 0, 0, 0.6);
}

.user-navigation-link:active path {
  fill: rgba(0, 0, 0, 0.3);
}

.site-navigation,
.catalog-subnavigation,
.product-categories-list,
.services-navigation,
.popular-brands-list,
.footer-options-links,
.footer-navigation,
.footer-social,
.breadcrumbs,
.colors-filter,
.bluetooth-filter,
.catalog-list,
.services-slider-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-navigation-item > a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: #000000;
  text-transform: uppercase;
}

.catalog-navigation-item:hover .catalog-subnavigation,
.catalog-navigation-item:focus .catalog-subnavigation {
  opacity: 1;
  pointer-events: auto;
}

.catalog-navigation-item {
  position: relative;
}

.catalog-subnavigation {
  position: absolute;
  top: 100%;
  left: -57px;

  box-sizing: border-box;
  width: 1160px;
  padding-left: 57px;
  padding-right: 60px;
  padding-top: 40px;
  padding-bottom: 40px;

  opacity: 0;
  pointer-events: none;
  background-color: #f7e296;
}

/*ВОПРОС!!! Существует ли какой-то элегантный способ расположить элементы
подменю в соответствии с макетом (колонки по 3-2-1 штуки)? 
В голову не приходит ничего умнее, чем просто обернуть нужное кол-во
ссылок в дивы и уже их расположить горизонтально друг за другом. Но при
добавлении новых категорий тогда все будет криво-косо...*/
.catalog-subnavigation a {
  line-height: 36px;
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.product-categories-list a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.product-categories-list a:active { 
   color: rgba(0, 0, 0, 0.3);
}

.services-navigation .button:active,
.services-navigation-current .button {
  color: #f7e184;
  background-image: none;
  background-color: #000000;
}

.about-us {
  width: 470px;
}

.about-us h2,
.contacts h2 {
  position: relative;
  padding-top: 55px;
  margin-bottom: 40px;
}

.about-us h2::before,
.contacts h2::before {
  position: absolute;
  top: 0;
  left: 0; 

  content: "";
  width: 80px;
  height: 7px;

  background-color: #000000;
}

.about-us p,
.contacts p {
  margin: 0;
  margin-bottom: 30px;

  font-family: "Open Sans Light", Arial, sans-serif;
  letter-spacing: -0.1px;
}

.contacts a {
  display: block;
  margin-top:10px;
}

.about-us ul {
  margin: 0;
  margin-bottom: 55px;
  padding: 0;
  padding-top: 35px;
  list-style-type: none;

  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0px;
}

.about-us li {
  padding-left: 35px;
  background-image: url(../img/list-item-marker.svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.footer-logo {
  color: #ffc600;
}

.footer-logo[href]:hover,
.footer-logo[href]:focus {
  color: rgba(255, 190, 0, 0.6);
}

.footer-logo[href]:active {
  color: rgba(255, 190, 0, 0.3);
}

.main-footer {
  color: #ffffff;
  background-color: #464646;
}

.footer-options-links:not(:last-child) {
  margin-right: 40px;
}

.footer-options-links span{
  padding-right: 10px;
}

.footer-options-links a:hover path,
.footer-options-links a:focus path {
  fill: rgba(255, 198, 0, 0.6);
}

.footer-options-links a:active path {
  fill: rgba(255, 198, 0, 0.3);
}

.footer-options-links a{
  line-height: 36px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-options-links a:hover,
.footer-options-links a:focus{
  color: rgba(255, 255, 255, 1);
}

.footer-options-links a:active{
  color: rgba(255, 255, 255, 0.3);
}

.footer-phone,
.footer-address {
  letter-spacing: 0px;
}

.footer-navigation a{
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

.profile-link {
  margin-right: 20px;
}

.breadcrumbs a,
.breadcrumbs-current {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

h2.filter-title,
h2.sorting-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}

.filter-form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.filter-form legend {
  min-width: 200px;
  margin-top: 40px;
  padding-top: 10px;
  padding-bottom: 16px;

  font-family: "Gilroy";
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #000000;

  border-top: 2px solid #000000;
}

.filter-form label {
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.1px;
  color: #000000;
}

.filter-input:disabled + label {
  color: #a6a6a6;
}

.filter-form fieldset {
  margin-bottom: 34px;
}


/**/

.colors-filter label,
.bluetooth-filter label {
  position: relative;
  padding-left: 37px;
  cursor: pointer;
}

.colors-filter input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -1px;
  left: -1px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.colors-filter input[type="checkbox"]:focus + .checkbox-indicator {
  border-color: #663d15;
  outline: thin dotted;
  outline: 15px auto -webkit-focus-ring-color;
}

.colors-filter input[type="checkbox"]:hover + .checkbox-indicator {
  opacity: 0.6;
}

.colors-filter input[type="checkbox"]:checked + .checkbox-indicator {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}



.bluetooth-filter input[type="radio"] + .radio-indicator {
  position: absolute;
  top: -3px;
  left: -1px;

  width: 17px;
  height: 17px;
  border: 4px solid #000000;
  border-radius: 50%;
}

.bluetooth-filter input[type="radio"]:focus + .radio-indicator {
  outline: thin dotted;
  outline: 15px auto -webkit-focus-ring-color;
}

.bluetooth-filter input[type="radio"]:hover + .radio-indicator {
  opacity: 0.6;
}

.bluetooth-filter input[type="radio"]:checked + .radio-indicator::before {
  content: "";

  position: absolute;
  top: 4px;
  left: 4px;

  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #000000;
}

/**/

.filter-button {
  min-width: 200px;
}

.catalog-item {
  position: relative;
  width: 360px;
  margin-bottom: 50px;
}

.catalog-item-image img {
  vertical-align: bottom;
}

.catalog-item:hover .catalog-item-actions{
  visibility: visible;
}

.catalog-item-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}

.catalog-item h3 {
  width: 250px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.catalog-item-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.catalog-item-actions {
  visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  height: 380px;

  background-color: rgba(238, 238, 238, 0.7);
}

.add-to-cart-link {
  min-width: 200px;
  margin-top: 173px;
}

.catalog-item .add-to-comparelist-link {
  margin-top: 15px;

  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: rgba(0, 0, 0, 0.5);
}

.catalog-item .add-to-comparelist-link:hover,
.catalog-item .add-to-comparelist-link:focus {
  color: rgba(0, 0, 0, 1);
}

.catalog-item .add-to-comparelist-link:active { 
  color: rgba(0, 0, 0, 0.2);
}



/* Стили для сетки */

.container {
  width: 1160px;
  margin: 0 auto;
  box-sizing: border-box;
}

.main-slider {
  margin-bottom: 93px;
}

.main-slider img{
  vertical-align: bottom;
}

.main-header {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-right: 60px;
  padding-left: 57px;
  padding-bottom: 48px;
}

.header-logo {
  align-self: flex-start;
  margin-bottom: 10px;
}

.addl-navigation {
  display: flex;
  margin-bottom: 24px;
}

.user-navigation {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-top: 8px;
}

.user-navigation > .user-navigation-link:not(:last-child) {
  margin-right: 40px;
}

.user-navigation-link span{
  padding-right: 10px;
}

.site-search {
  width: 443px;
  height: 50px;
  margin-right: auto;
}

.user-block {
  margin-right: auto;
}

.site-navigation {
  display: flex;
}

.site-navigation-item {
  margin-right: 35px;
}

.site-navigation-item:last-child {
  margin-left: auto;
  margin-right: 0px;
}

.catalog-navigation-item {
  width: 540px;
  margin-right: 0px;
}

.catalog-navigation-item span{
  margin-left: 15px;
}

.site-search-form {
  display: flex;
}

.site-search input {
  box-sizing: border-box;
  width: 358px;
  padding-left: 41px;
  padding-bottom: 8px;
  padding-top: 8px;

  font-family: "Open Sans Light", Arial, sans-serif;
  letter-spacing: 0.2px;

  background-image: url("../img/search-icon.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
}

.product-categories {
  margin-bottom: 10px;
}

.product-categories-list {
  display: flex;
  flex-wrap: wrap;
}

.product-categories-list li {
  margin-right: 40px;
}

.product-categories-list li:nth-child(6n){
  margin-right: 0px;
}

.product-categories-list a {
  display: block;
  position: relative;
  width: 160px;
  padding-top: 195px;

  background-image: linear-gradient(#f7e296 160px, rgba(255, 255, 255, 0) 160px);
  background-repeat: no-repeat;
}

.product-categories-list a:hover,
.product-categories-list a:focus {
  background-image: linear-gradient(#f0c52e 160px, rgba(255, 255, 255, 0) 160px);
}

.product-categories-list a:active::before {
  opacity: 0.3;
}

.product-categories-list a::before {
  content: "";
  
  position: absolute;
  top: 0;
  left: 50%;
  
  width: 160px;
  height: 160px;
  margin-left: -80px;
  
  background-image: url("../img/product-category-1.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.product-categories-list li:nth-child(2) a::before {
  background-image: url("../img/product-category-2.svg");
  background-position: 50% 100%;
}

.product-categories-list li:nth-child(3) a::before {
  background-image: url("../img/product-category-3.svg");
}

.product-categories-list li:nth-child(4) a::before {
  background-image: url("../img/product-category-4.svg");
}

.product-categories-list li:nth-child(5) a::before {
  background-image: url("../img/product-category-5.svg");
}

.product-categories-list li:nth-child(6) a::before {
  background-image: url("../img/product-category-6.svg");
}

.services-slider {
  padding-top:70px;
  padding-bottom:70px;
  margin-bottom: 95px;

  background-image: linear-gradient(#ffffff 170px, #e5e5e5 170px);
}

.services-slider .container {
  display: flex;
  min-height: 320px;
}

.services-navigation {
  box-sizing: border-box;
  min-width: 285px;
  min-height: 320px;
  border-right: 7px solid #000000;
}

.services-navigation {
  padding-top: 80px;
  padding-bottom: 70px;
}

.services-navigation li:not(:last-child) {
  margin-bottom: 25px;
}

.services-navigation a {
  min-width: 160px;
}

.services-navigation-current {
  background-color: #000000;
}

.services-description-slide {
  position: relative;
  margin-top: 75px;
  margin-left: 115px;
  padding-bottom: 75px;
  padding-right: 300px;
}

.services-description-slide h3 {
  margin-bottom: 30px;
}

.services-description-slide p {
  margin: 0;
  padding: 0;
}

.services-slider-list .services-description-slide {
  background-image: url("../img/delivery-service.svg");
  background-size: 136px 164px;
  background-repeat: no-repeat;
  background-position: right 60px top;
}

.services-slider-list li:nth-child(2) .services-description-slide{
  background-image: url("../img/warranty-service.svg");
  background-size: 171px 194px;
  background-position: right 50px top;
}

.services-slider-list li:nth-child(3) .services-description-slide{
  background-image: url("../img/credit-service.svg");
  background-size: 156px 186px;
  background-position: right 65px top;
}

.popular-brands-list {
  display: flex;
  margin-bottom: 80px;
}

.popular-brands-list a {
  display: block;
}

.popular-brands-list li:not(:last-child) {
  margin-right: 40px;
}

.popular-brands-list a:hover img{
  visibility: hidden;
}

.popular-brands-list li:nth-child(1) a{
  background-image: url("../img/brand-logo-1-hover.png");
}

.popular-brands-list li:nth-child(2) a{
  background-image: url("../img/brand-logo-2-hover.png");
}

.popular-brands-list li:nth-child(3) a{
  background-image: url("../img/brand-logo-3-hover.png");
}

.popular-brands-list li:nth-child(4) a{
  background-image: url("../img/brand-logo-4-hover.png");
}

.about-us-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 85px;
}

.about-us,
.contacts {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 560px;
}

.about-us .button,
.contacts .button {
  width: 260px;
  margin-top: auto;
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 65px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer-options-links {
  display: flex;
  flex-wrap: wrap;
}

.footer-options-links a{
  display: flex;
}

.login-link,
.logout-link,
.comparelist-link {
  margin-right: 40px;
}

.footer-options-links .logout-link {
  color: rgba(255, 255, 255, 0.3);
}

.profile-link {
  margin-right: 20px;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}

.footer-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-navigation li:not(:last-child) {
  margin-right: 33px;
}

.footer-address,
.footer-phone {
  min-width: 250px;
  margin: 0px;
}

.footer-phone {
  text-align: right;
}

.footer-bottom::before {
  content: "";
  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-social li:not(:last-child) {
  margin-right: 25px;
}

.footer-social a:hover path,
.footer-social a:focus path {
  fill: rgba(255, 255, 255, 0.6);
}

.footer-social a:active path {
  fill: rgba(255, 255, 255, 0.1);
}

.footer-copyright {
  align-self: flex-start;
  margin: 0px;
  min-width: 80px;
  text-align: right;
}

.footer-copyright:hover,
.footer-copyright:focus {
  opacity: 0.6;
}

.footer-copyright:active {
  opacity: 0.3;
}

.footer-copyright img {
  vertical-align: top;
}

.inner-page .main-header {
  margin-bottom: 40px;
}

main h1{
  margin-bottom: 16px;
  margin-left: 60px;
}

main .breadcrumbs {
  margin-bottom: 43px;
  margin-left: 60px;
}

main.container {
 padding-left: 60px;
}

.breadcrumbs li {
  display: inline-block;
  vertical-align: middle;
}

.breadcrumbs li:not(:last-child) {
  padding-right: 35px;
  background-image: url("../img/nav-arrow.svg");
  background-position: center right 15px;
  background-repeat: no-repeat;
}

.sorting-column-wrapper {
  background-image: linear-gradient(to right, #dbdbdb 50%, #ebebeb 50%);
}

.sorting-column {
  display: flex;
  min-height: 70px;
}

h2.filter-title {
  width: 270px;
  padding-top: 24px;
  padding-left: 60px;

  background-color: #dbdbdb;
}

.sorting {
  width: 760px;
  display: flex;
  align-items: center;
}

.catalog-columns-wrapper {
  background-image: linear-gradient(to right, #efefef 50%, #ffffff 50%);
}

.catalog-columns {
  display: flex;
}

.left-column {
  width: 270px;
  padding-left: 60px;
  padding-top: 69px;
  margin-left: auto;

  background-color: #efefef;
}

.right-column {
  width: 760px;
  padding-left: 70px;
  padding-top: 70px;
  padding-bottom: 80px;
  margin-right: auto;

  background-color: #ffffff;
}

.sorting {
  padding-left: 70px;

  background-color: #ebebeb;
}

.price-scale-filter {
  min-height: 53px;
  /*Временно*/
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item p {
  padding: 0;
  margin: 0;
}

.pagination {
  height: 52px;
}

.modal {
  position: fixed;

  box-sizing: border-box;
  
  color: #000000;

  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.modal-feedback {
  top: 120px;
  left: 50%;
  
  width: 960px;
  margin-left: -480px;
  padding: 93px 100px;
  padding-bottom: 75px;
}

.modal-close {
  position: absolute;
  top: 22px;
  right: 22px;
  padding: 0px;
  
  width: 55px;
  height: 55px;
  border-radius: 50%;

  background-color: rgba(240, 197, 46, 0.5);
  border: 0;

  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  background-color: rgba(240, 197, 46, 1);
}

.modal-close:active {
  background-color: rgba(240, 197, 46, 0.3);
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 28px;
  left: 13px;

  width: 30px;
  height: 2px;

  background-color: #ffffff;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-feedback .fields-group {
  display: flex;
  justify-content: space-between;
}

.feedback-item {
  margin: 0px;
  margin-bottom: 35px;
}

.fields-group .feedback-item {
  min-width: 360px;
}

.feedback-item label {
  display: block;
  margin-bottom: 7px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.feedback-item input,
.feedback-item textarea {
  box-sizing: border-box;
  width: 100%;
  border: 3px solid transparent;
  padding: 12px 17px;

  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #464646;

  background-color: #f2f2f2;
}

.feedback-item input:hover,
.feedback-item textarea:hover { 
  background-color: #eaeaea;
}

.feedback-item input:focus,
.feedback-item textarea:focus { 
  background-color: #ffffff;
  border: 3px solid #f7e296;
  outline: none;
}


.feedback-item input::placeholder,
.feedback-item textarea::placeholder {
  color: rgba(70, 70, 70, 0.4);
} 

.modal-feedback .button {
  min-width: 200px;
}

.modal-map {
  top: 50%;
  left: 50%;

  width: 960px;
  height: 560px;
  margin-top: -280px;
  margin-left: -480px;
  
  border: none;
}

.modal iframe {
  border: 0;
}