@font-face {
  font-family: "Gilroy ExtraBold";
  src: url("../fonts/gilroyextrabold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Light";
  src: url("../fonts/gilroylight-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "Open Sans Light";
    src: url("../fonts/opensans-light-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans Regular";
    src: url("../fonts/opensans-regular-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}


body {
  padding: 0;

  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #464646;

  background-color: #ffffff;
}

/**/
.hidden {
  display: none;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


a {
  text-decoration: none;
  color: #000000;
}

.button {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: #000000;
  text-transform: uppercase;

  text-align: center;
  vertical-align: middle;

  background-color: transparent;
  background-image: linear-gradient(transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
  border: none;
  outline: none;

  cursor: pointer;
}

.button:hover,
.button:focus {
  color: #000000;
  background-color: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #f0c52e;
}

.container h1,
.container h2,
.container h3 {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.5px;
  color: #000000;
}

.main-header {
  color: #000000;
  background-color: #f7e296;
}

.header-logo,
.footer-logo {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.5px;
  color: #000000;
}

.header-logo:hover,
.header-logo:focus {
  color: rgba(0, 0, 0, 0.6);
}

.header-logo:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-search input {
  font: inherit;

  background-color: transparent;
  border: none;
  outline: none;
}

.site-search input:focus {
  border-bottom: 2px solid #000000;
}


.site-search input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.site-search input:hover::placeholder,
.site-search input:focus::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.site-search-button {
  font: inherit;
  font-family: "Open Sans", Arial, sans-serif;
  color: #000000;
  
  text-align: center;
  vertical-align: middle;

  background-color: transparent;
  border: 2px solid #000000;
  cursor: pointer;
}

.site-search-button:hover, 
.site-search-button:focus {
  color: #ffffff;
  background-color: #000000;
}

.site-search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.user-navigation-link {
  color: #000000;
}

.user-navigation-link:hover,
.user-navigation-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.user-navigation-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation,
.catalog-subnavigation,
.product-categories-list,
.services-navigation,
.popular-brands-list,
.footer-options-links,
.footer-navigation,
.footer-social ul,
.breadcrumbs,
.colors-filter,
.bluetooth-filter,
.catalog-list {
  list-style: none;
}

.site-navigation-item > a {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: #000000;
  text-transform: uppercase;
}

.catalog-subnavigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.product-categories-list a {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.product-categories-list a:active { 
   color: rgba(0, 0, 0, 0.3);
}

.services-navigation .button:active,
.services-navigation-current .button {
  color: #f7e184;
  background-image: none;
  background-color: #000000;
}

.about-us p,
.contacts p {
  letter-spacing: 0px;
}

.about-us li{
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0px;
}

.footer-logo {
  color: #ffc600;
}

.footer-logo:hover,
.footer-logo:focus {
  color: rgba(255, 190, 0, 0.6);
}

.footer-logo:active {
  color: rgba(255, 190, 0, 0.3);
}

.main-footer {
  color: #ffffff;
  background-color: #464646;
}

.footer-options-links a{
  line-height: 36px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-options-links a:hover,
.footer-options-links a:focus{
  color: rgba(255, 255, 255);
}

.footer-options-links a:active{
  color: rgba(255, 255, 255, 0.3);
}

.footer-phone,
.footer-address {
  letter-spacing: 0px;
}

.footer-navigation a{
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs a,
.breadcrumbs-current {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

h2.filter-title {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.filter-form fieldset {
  border: none;
}

.filter-form legend {
  font-family: "Gilroy ExtraBold";
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #000000;
}

.filter-form label {
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.1px;
  color: #000000;
}

.filter-input:disabled + label {
  color: #a6a6a6;
}

.catalog-item h3{
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.catalog-item-price {
  font-family: "Gilroy Light", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.catalog-item .add-to-comparelist-link {
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: rgba(0, 0, 0, 0.5);
}

.catalog-item .add-to-comparelist-link:hover,
.catalog-item .add-to-comparelist-link:focus {
  color: rgba(0, 0, 0, 1);
}

.catalog-item .add-to-comparelist-link:active { 
  color: rgba(0, 0, 0, 0.2);
}