@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold-webfont.woff2") format("woff2"),
       url("../fonts/gilroyextrabold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight-webfont.woff2") format("woff2"),
       url("../fonts/gilroylight-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-light-webfont.woff2") format("woff2"),
       url("../fonts/opensans-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"),
       url("../fonts/opensans-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}


body {
  min-width: 1160px;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #464646;

  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.hidden {
  display: none;
}

.button {
  display: inline-block;
  height: 40px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 3.6px;
  color: #000000;
  text-transform: uppercase;

  text-align: center;
  vertical-align: middle;

  background-color: rgba(255, 255, 255, 0);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(255, 255, 255, 0)), color-stop(40%, #f0c52e), color-stop(60%, #f0c52e), color-stop(60%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0) 40%, #f0c52e 40%, #f0c52e 60%, rgba(255, 255, 255, 0) 60%);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0) 40%, #f0c52e 40%, #f0c52e 60%, rgba(255, 255, 255, 0) 60%);
  background-image: linear-gradient(rgba(255, 255, 255, 0) 40%, #f0c52e 40%, #f0c52e 60%, rgba(255, 255, 255, 0) 60%);
  border: none;
  outline: none;

  cursor: pointer;
}

.button:hover,
.button:focus {
  color: #000000;

  background-color: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #f0c52e;
}

h1, 
h2, 
h3 {
  margin: 0;
  padding: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.5px;
  color: #000000;
}

.container {
  width: 1160px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 16px;
  padding-right: 60px;
  padding-left: 57px;
  padding-bottom: 46px;

  color: #000000;

  background-color: #f7e296;
  background-image: -webkit-linear-gradient(#ffffff 40px, #f7e296 40px);
  background-image: -o-linear-gradient(#ffffff 40px, #f7e296 40px);
  background-image: linear-gradient(#ffffff 40px, #f7e296 40px);
}

.header-logo,
.footer-logo {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.5px;
  color: #000000;
}

.header-logo {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 10px;
}

.header-logo[href]:hover,
.header-logo[href]:focus {
  color: rgba(0, 0, 0, 0.6);
}

.header-logo[href]:active {
  color: rgba(0, 0, 0, 0.3);
}

.addl-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 26px;
}

.site-search {
  width: 443px;
  height: 50px;
  margin-right: auto;
}

.site-search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-search input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 358px;
  padding-left: 41px;
  padding-bottom: 8px;
  padding-top: 8px;

  font: inherit;
  letter-spacing: 0.2px;

  background-color: rgba(255, 255, 255, 0);
  background-image: url("../img/search-icon.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  outline: none;
}

.site-search input:focus {
  border-bottom: 2px solid #000000;
}

.site-search input:focus + .site-search-button {
  opacity: 1;
  cursor: pointer;
}

.site-search input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.site-search input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.site-search input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.site-search input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.site-search input:hover::-webkit-input-placeholder,
.site-search input:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.site-search input:hover:-ms-input-placeholder,
.site-search input:focus:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.site-search input:hover::-ms-input-placeholder,
.site-search input:focus::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.site-search input:hover::placeholder,
.site-search input:focus::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.site-search-button {
  opacity: 0;

  padding: 7px 18px;

  font: inherit;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  color: #000000;
  
  text-align: center;
  vertical-align: middle;

  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #000000;
  cursor: default;
}

.site-search-button:hover, 
.site-search-button:focus {
  color: #ffffff;
  background-color: #000000;
}

.site-search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 500px;
  margin-top: 8px;
}

.user-block {
  margin-right: auto;
}

.user-navigation-link {
  color: #000000;
}

.user-navigation-link span{
  padding-right: 10px;
}

.user-navigation > .user-navigation-link:not(:last-child) {
  margin-right: 40px;
}

.user-navigation-link:hover,
.user-navigation-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.user-navigation-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation-link:hover path,
.user-navigation-link:focus path {
  fill: rgba(0, 0, 0, 0.6);
}

.user-navigation-link:active path {
  fill: rgba(0, 0, 0, 0.3);
}

.site-navigation,
.catalog-subnavigation,
.catalog-subnavigation-column,
.product-categories-list,
.services-navigation,
.popular-brands-list,
.footer-options-links,
.footer-navigation,
.footer-social,
.breadcrumbs,
.colors-filter,
.bluetooth-filter,
.catalog-list,
.services-slider-list,
.slider-list,
.sorting-options,
.pagination-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-navigation-item {
  margin-right: 35px;
}

.site-navigation-item:last-child {
  margin-left: auto;
  margin-right: 0px;
}

.site-navigation-item > a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: #000000;
  text-transform: uppercase;
}

.catalog-navigation-item {
  position: relative;

  width: 270px;
  margin-right: 270px;
}

.catalog-navigation-item span{
  margin-left: 15px;
}

.catalog-subnavigation {
  position: absolute;
  top: 100%;
  left: -57px;
  z-index: 1;

  display: none;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1160px;
  min-height: 100px;
  padding-left: 57px;
  padding-right: 60px;
  padding-top: 17px;
  padding-bottom: 35px;

  background-color: #f7e296;
}

.catalog-navigation-item:hover .catalog-subnavigation,
.catalog-navigation-item:focus .catalog-subnavigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-subnavigation>li:not(:last-child) {
  min-width: 140px;
  margin-right: 60px;
}

.catalog-subnavigation a {
  line-height: 36px;
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-slider {
  position: relative;
  height: 500px;
  margin-bottom: 93px;
}

.slider-item {
  display: none;
}

.slider-item-wrapper { 
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  padding-right: 50px;

  background-image: -webkit-linear-gradient(#f7e296 113px, #ffffff 113px);
  background-image: -o-linear-gradient(#f7e296 113px, #ffffff 113px);
  background-image: linear-gradient(#f7e296 113px, #ffffff 113px);
}

.slider-item .slider-content {
  padding-top: 40px;
}

.slider-item .slider-index {
  position: absolute;
  right: 45px;
  top: 65px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 179px;
  font-style: normal;
  letter-spacing: 1.79px;
  vertical-align: bottom;
  color: #ffffff;
}

.slider-item .slider-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 530px;
  height: 485px;
  margin-right: 50px;
}

.slider-item img{
  display: block;
  margin: 0 auto;
  vertical-align: middle;
}

.slider-content h3 {
  position: relative;

  padding-top: 42px;
  margin-bottom: 18px;
}

.slider-content h3::before {
  position: absolute;
  top: 0;
  left: 0; 

  content: "";
  width: 100px;
  height: 7px;

  background-color: #ffffff;
}

.slider-content p {
  margin: 0;
}

.slider-content .button {
  min-width: 220px;
  margin-top: 44px;
  margin-bottom: 47px;
}

.slider-content table {
  border-collapse: collapse;
  border: none;
}

.slider-content td {
  padding-left: 75px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.4px;
}

.slider-content th {
  padding-top: 8px;
  padding-left: 75px;

  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.slider-content td:first-child,
.slider-content th:first-child {
  padding-left: 0px;
}

.slider-controls {
  position: absolute;
  right: 42px;
  bottom: 151px;
  z-index: 5;
  
  width: 160px;
  height: 32px;

  text-align: center;
}

.slider-controls label {
  position: relative;
  
  display: inline-block;
  width: 11px;
  height: 11px;
  padding: 9px;

  vertical-align: middle;
  
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  
  width: 11px;
  height: 11px;
  
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 50%;
}

#slide-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#slide-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#slide-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#slide-1:checked ~ .slider-controls .slider-controls-item-1::before,
#slide-2:checked ~ .slider-controls .slider-controls-item-2::before,
#slide-3:checked ~ .slider-controls .slider-controls-item-3::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 12px;
  z-index: 2;

  width: 3px;
  height: 3px;

  background-color: inherit;
  border: 1px solid #000000;
  border-radius: 50%;
}

.product-categories {
  margin-bottom: 10px;
}

.product-categories-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-categories-list li {
  margin-right: 40px;
}

.product-categories-list li:nth-child(6n){
  margin-right: 0px;
}

.product-categories-list a {
  display: block;
  position: relative;
  width: 160px;
  padding-top: 195px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;

  background-image: -webkit-linear-gradient(#f7e296 160px, rgba(255, 255, 255, 0) 160px);
  background-image: -o-linear-gradient(#f7e296 160px, rgba(255, 255, 255, 0) 160px);
  background-image: linear-gradient(#f7e296 160px, rgba(255, 255, 255, 0) 160px);
  background-repeat: no-repeat;
}

.product-categories-list a:hover,
.product-categories-list a:focus {
  background-image: -webkit-linear-gradient(#f0c52e 160px, rgba(255, 255, 255, 0) 160px);
  background-image: -o-linear-gradient(#f0c52e 160px, rgba(255, 255, 255, 0) 160px);
  background-image: linear-gradient(#f0c52e 160px, rgba(255, 255, 255, 0) 160px);
}

.product-categories-list a:active { 
   color: rgba(0, 0, 0, 0.3);
}

.product-categories-list a::before {
  content: "";
  
  position: absolute;
  top: 0;
  left: 50%;
  
  width: 160px;
  height: 160px;
  margin-left: -80px;
  
  background-image: url("../img/product-category-1.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.product-categories-list li:nth-child(2) a::before {
  background-image: url("../img/product-category-2.svg");
  background-position: 50% 100%;
}

.product-categories-list li:nth-child(3) a::before {
  background-image: url("../img/product-category-3.svg");
}

.product-categories-list li:nth-child(4) a::before {
  background-image: url("../img/product-category-4.svg");
}

.product-categories-list li:nth-child(5) a::before {
  background-image: url("../img/product-category-5.svg");
}

.product-categories-list li:nth-child(6) a::before {
  background-image: url("../img/product-category-6.svg");
}

.product-categories-list a:active::before {
  opacity: 0.3;
}

.services-slider {
  padding-top:70px;
  padding-bottom:68px;
  margin-bottom: 95px;

  background-image: -webkit-linear-gradient(#ffffff 170px, #e5e5e5 170px);
  background-image: -o-linear-gradient(#ffffff 170px, #e5e5e5 170px);
  background-image: linear-gradient(#ffffff 170px, #e5e5e5 170px);
}

.services-slider .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 320px;
}

.services-navigation {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 285px;
  min-height: 320px;

  border-right: 7px solid #000000;
}

.services-navigation {
  padding-top: 80px;
  padding-bottom: 70px;
}

.services-navigation li:not(:last-child) {
  margin-bottom: 25px;
}

.services-navigation .button {
  min-width: 160px;
}

.services-navigation-current {
  background-color: #000000;
}

.services-navigation li:active,
.services-navigation .button:active,
.services-navigation-current .button {
  color: #f7e184;

  background-image: none;
  background-color: #000000;
}

.services-description-slide {
  position: relative;

  margin-top: 70px;
  margin-left: 115px;
  padding-bottom: 75px;
  padding-right: 300px;
}

.services-description-slide h3 {
  margin-bottom: 25px;

  letter-spacing: 1.3px;
}

.services-description-slide p {
  margin: 0;
  padding: 0;

  letter-spacing: 0.3px;
}

.services-slider-list .services-description-slide {
  background-image: url("../img/delivery-service.svg");
  background-size: 136px 164px;
  background-repeat: no-repeat;
  background-position: right 65px top 15px;
}

.services-slider-list li:nth-child(2) .services-description-slide{
  background-image: url("../img/warranty-service.svg");
  background-size: 171px 194px;
  background-position: right 50px top;
}

.services-slider-list li:nth-child(3) .services-description-slide{
  background-image: url("../img/credit-service.svg");
  background-size: 156px 186px;
  background-position: right 65px top;
}

.popular-brands-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 83px;
}

.popular-brands-list li:not(:last-child) {
  margin-right: 40px;
}

.popular-brands-list a {
  display: block;
}

.popular-brands-list a:hover img{
  visibility: hidden;
}

.popular-brands-list li:nth-child(1) a{
  background-image: url("../img/brand-logo-1-hover.png");
}

.popular-brands-list li:nth-child(2) a{
  background-image: url("../img/brand-logo-2-hover.png");
}

.popular-brands-list li:nth-child(3) a{
  background-image: url("../img/brand-logo-3-hover.png");
}

.popular-brands-list li:nth-child(4) a{
  background-image: url("../img/brand-logo-4-hover.png");
}

.about-us-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 81px;
}

.about-us,
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  max-width: 560px;
}

.about-us h2,
.contacts h2 {
  position: relative;

  padding-top: 50px;
  margin-bottom: 38px;
}

.about-us h2::before,
.contacts h2::before {
  position: absolute;
  top: 0;
  left: 0; 

  content: "";
  width: 80px;
  height: 7px;

  background-color: #000000;
}

.about-us .button,
.contacts .button {
  width: 260px;
  margin-top: auto;
}

.about-us p,
.contacts p {
  margin: 0;
  margin-bottom: 30px;

  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.1px;
}

.about-us {
  width: 480px;
}

.contacts a {
  display: block;
  margin-top:10px;
}

.about-us ul {
  margin-top: 0;
  margin-left: -5px;
  margin-bottom: 55px;
  padding: 0;
  padding-top: 35px;
  list-style-type: none;

  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.1px;
}

.about-us li {
  padding-left: 40px;
  background-image: url(../img/list-item-marker.svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 65px;

  color: #ffffff;
  background-color: #464646;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 22px;
}

.footer-logo {
  color: #ffc600;
}

.footer-logo[href]:hover,
.footer-logo[href]:focus {
  color: rgba(255, 190, 0, 0.6);
}

.footer-logo[href]:active {
  color: rgba(255, 190, 0, 0.3);
}

.footer-options-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-options-links a{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  line-height: 36px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-options-links:not(:last-child) {
  margin-right: 40px;
}

.footer-options-links span{
  padding-right: 10px;
}

.footer-options-links a:hover,
.footer-options-links a:focus{
  color: rgba(255, 255, 255, 1);
}

.footer-options-links a:active{
  color: rgba(255, 255, 255, 0.3);
}

.footer-options-links a:hover path,
.footer-options-links a:focus path {
  fill: rgba(255, 198, 0, 0.6);
}

.footer-options-links a:active path {
  fill: rgba(255, 198, 0, 0.3);
}

.login-link,
.logout-link,
.comparelist-link {
  margin-right: 40px;
}

.footer-options-links .logout-link {
  color: rgba(255, 255, 255, 0.3);
}

.profile-link {
  margin-right: 20px;
}

.footer-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 61px;
}

.footer-phone,
.footer-address {
  min-width: 250px;
  margin: 0px;

  letter-spacing: 0px;
}

.footer-phone {
  text-align: right;
}

.footer-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4px;
}

.footer-navigation li:not(:last-child) {
  margin-right: 33px;
}

.footer-navigation a{
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-bottom::before {
  content: "";
  width: 80px;
  height: 7px;
  margin-top: 12px;

  background-color: #ffc600;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-social li:not(:last-child) {
  margin-right: 25px;
}

.footer-social a:hover path,
.footer-social a:focus path {
  fill: rgba(255, 255, 255, 0.6);
}

.footer-social a:active path {
  fill: rgba(255, 255, 255, 0.1);
}

.footer-copyright {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px;
  min-width: 80px;
  text-align: right;
}

.footer-copyright:hover,
.footer-copyright:focus {
  opacity: 0.6;
}

.footer-copyright:active {
  opacity: 0.3;
}

.footer-copyright img {
  vertical-align: top;
}

.inner-page .main-header {
  margin-bottom: 35px;
}

main.container {
 padding-left: 60px;
}

main h1{
  margin-bottom: 13px;
  margin-left: 60px;
}

main .breadcrumbs {
  margin-bottom: 43px;
  margin-left: 60px;
}

.breadcrumbs li {
  display: inline-block;

  vertical-align: middle;
}

.breadcrumbs li:not(:last-child) {
  padding-right: 35px;

  background-image: url("../img/nav-arrow.svg");
  background-position: center right 15px;
  background-repeat: no-repeat;
}

.breadcrumbs a,
.breadcrumbs-current {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.sorting-column-wrapper {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(20%, #dbdbdb), color-stop(80%, #ebebeb));
  background-image: -webkit-linear-gradient(left, #dbdbdb 20%, #ebebeb 80%);
  background-image: -o-linear-gradient(left, #dbdbdb 20%, #ebebeb 80%);
  background-image: linear-gradient(to right, #dbdbdb 20%, #ebebeb 80%);
}

.sorting-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 70px;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sorting-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 53px;
}

.sorting-options li:not(:last-child) {
  margin-right: 28px;
}

.sorting-options a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-options a:hover,
.sorting-options a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-options a:active,
.sorting-options .sorting-options-selected {
  color: rgba(0, 0, 0, 1);
}

.sorting-direction {
  margin-left: auto;

  font-size: 0px;
}

.sorting-direction a {
  display: inline-block;
  width: 11px;
  height: 10px;

  vertical-align: middle;

  background-repeat: no-repeat;
  opacity: 0.2;
}

.sorting-direction .sorting-up {
  background-image: url(../img/icon-up-dir.svg);
  margin-right: 20px;
}

.sorting-direction .sorting-down {
  background-image: url(../img/icon-down-dir.svg);
}

.sorting-direction a:hover,
.sorting-direction a:focus {
  opacity: 0.4;
}

.sorting-direction a:active,
.sorting-direction .sorting-direction-selected {
  opacity: 1;
}

h2.filter-title,
h2.sorting-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}

h2.filter-title {
  width: 270px;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 60px;

  background-color: #dbdbdb;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 760px;
  padding-left: 70px;
  
  background-color: #ebebeb;
}

.catalog-columns-wrapper {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #ffffff));
  background-image: -webkit-linear-gradient(left, #efefef 50%, #ffffff 50%);
  background-image: -o-linear-gradient(left, #efefef 50%, #ffffff 50%);
  background-image: linear-gradient(to right, #efefef 50%, #ffffff 50%);
}

.catalog-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left-column {
  width: 270px;
  padding-left: 60px;
  padding-top: 69px;
  margin-left: auto;

  background-color: #efefef;
}

.right-column {
  width: 760px;
  padding-left: 70px;
  padding-top: 70px;
  padding-bottom: 77px;
  margin-right: auto;

  background-color: #ffffff;
}

.price-range-filter {
  width: 200px;
}


.range-controls {
  position: relative;

  height: 33px;
  padding-top: 20px;
}

.range-controls .scale {
  height: 2px;

  background-color: #dbdbdb;
}

.range-controls .bar {
  position: relative;

  width: 60%;
  height: 2px;

  background: #91c92f;
}

.range-controls .sign-from,
.range-controls .sign-to {
  position: absolute;
  top: 7px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.2);
}

.range-controls .sign-from {
  left: 0px;
}

.range-controls .sign-to {
  right: -25px;
}

.range-controls .toggle {
  position: absolute;
  top: 9px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #dadada;
          box-shadow: 0 2px 1px 0 #dadada;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: -6px;
}

.range-controls .toggle-max {
  left: 107px;
}

.filter-form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.filter-form legend {
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 16px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #000000;

  border-top: 2px solid #000000;
}

.filter-form label {
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.1px;
  color: #000000;
}

.filter-input:disabled + label {
  color: #a6a6a6;
}

.filter-form fieldset {
  margin-bottom: 34px;
}

.colors-filter label,
.bluetooth-filter label {
  position: relative;

  padding-left: 37px;
  cursor: pointer;
}

.colors-filter input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -1px;
  left: -1px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.colors-filter input[type="checkbox"]:focus + .checkbox-indicator {
  border-color: #663d15;
  outline: thin dotted;
  outline: 15px auto -webkit-focus-ring-color;
}

.colors-filter input[type="checkbox"]:hover + .checkbox-indicator {
  opacity: 0.6;
}

.colors-filter input[type="checkbox"]:checked + .checkbox-indicator {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.bluetooth-filter input[type="radio"] + .radio-indicator {
  position: absolute;
  top: -3px;
  left: -1px;

  width: 17px;
  height: 17px;
  border: 4px solid #000000;
  border-radius: 50%;
}

.bluetooth-filter input[type="radio"]:focus + .radio-indicator {
  outline: thin dotted;
  outline: 15px auto -webkit-focus-ring-color;
}

.bluetooth-filter input[type="radio"]:hover + .radio-indicator {
  opacity: 0.6;
}

.bluetooth-filter input[type="radio"]:checked + .radio-indicator::before {
  content: "";

  position: absolute;
  top: 4px;
  left: 4px;

  width: 9px;
  height: 9px;

  border-radius: 50%;
  background-color: #000000;
}

.filter-button {
  min-width: 200px;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-item {
  position: relative;

  width: 360px;
  margin-bottom: 47px;
}

.catalog-item p {
  padding: 0;
  margin: 0;
}

.catalog-item-image img {
  vertical-align: bottom;
}

.catalog-item:hover .catalog-item-actions{
  visibility: visible;
}

.catalog-item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 30px;
}

.catalog-item h3 {
  width: 260px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.catalog-item-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.catalog-item-actions {
  visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
  height: 380px;

  background-color: rgba(238, 238, 238, 0.7);
}

.add-to-cart-link {
  min-width: 200px;
  margin-top: 173px;
}

.catalog-item .add-to-comparelist-link {
  margin-top: 15px;

  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: rgba(0, 0, 0, 0.5);
}

.catalog-item .add-to-comparelist-link:hover,
.catalog-item .add-to-comparelist-link:focus {
  color: rgba(0, 0, 0, 1);
}

.catalog-item .add-to-comparelist-link:active { 
  color: rgba(0, 0, 0, 0.2);
}

.catalog-item.new-badge::before {
  content: "NEW";

  position: absolute;
  top: 28px;
  right: 28px;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding-top: 17px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
  letter-spacing: 0.7px;
  text-align: center;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -10px;

  background-color: #ebebeb;
}

.pagination a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.pagination-button {
  padding: 23px 30px;
}

.pagination-button:hover,
.pagination-button:focus {
  background-color: #d9d9d9;
}

.pagination-button:active {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 13px;
}

.pagination-list li:not(:last-child) {
  margin-right: 28px;
}

.pagination-list a {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-list a:hover,
.pagination-list a:focus,
.pagination-list a:active,
.pagination-list .current-page {
  color: rgba(0, 0, 0, 1);
}


@-webkit-keyframes bounce {
  from {
    margin-top: -2000px;
  }

  to {
    margin-top: 0px;
  }
}


@keyframes bounce {
  from {
    margin-top: -2000px;
  }

  to {
    margin-top: 0px;
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    margin-left: 0px;
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    margin-left: -10px;
  }

  20%,
  40%,
  60%,
  80% {
     margin-left: 10px;
  }
}

@keyframes shake {
  0%,
  100% {
    margin-left: 0px;
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    margin-left: -10px;
  }

  20%,
  40%,
  60%,
  80% {
     margin-left: 10px;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); 

  -webkit-box-sizing: border-box; 
          box-sizing: border-box;
  
  color: #000000;

  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.modal-show {
  display: block;

  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.modal-feedback {
  width: 960px;
  padding: 93px 100px;
  padding-bottom: 75px;
}

.modal-close {
  position: absolute;
  top: 22px;
  right: 22px;
  padding: 0px;
  z-index: 3;
  
  width: 55px;
  height: 55px;
  border-radius: 50%;

  background-color: rgba(240, 197, 46, 0.5);
  border: 0;

  cursor: pointer;
  outline: none;
}

.modal-close:hover,
.modal-close:focus {
  background-color: rgba(240, 197, 46, 1);
}

.modal-close:active {
  background-color: rgba(240, 197, 46, 0.3);
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 28px;
  left: 13px;

  width: 30px;
  height: 2px;

  background-color: #ffffff;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-feedback .fields-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback-item {
  margin: 0px;
  margin-bottom: 35px;
}

.fields-group .feedback-item {
  min-width: 360px;
}

.feedback-item label {
  display: block;
  margin-bottom: 7px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.feedback-item input,
.feedback-item textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border: 3px solid rgba(255, 255, 255, 0);
  padding: 12px 17px;

  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #464646;

  background-color: #f2f2f2;
}

.feedback-item input:hover,
.feedback-item textarea:hover { 
  background-color: #eaeaea;
}

.feedback-item input:focus,
.feedback-item textarea:focus { 
  background-color: #ffffff;
  border: 3px solid #f7e296;
  outline: none;
}

.feedback-item input::-webkit-input-placeholder,
.feedback-item textarea::-webkit-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.feedback-item input:-ms-input-placeholder,
.feedback-item textarea:-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.feedback-item input::-ms-input-placeholder,
.feedback-item textarea::-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.feedback-item input::placeholder,
.feedback-item textarea::placeholder {
  color: rgba(70, 70, 70, 0.4);
} 

.feedback-item .field-error {
  border: 3px solid rgba(255, 255, 255, 0);
  background-color: #edb5b5;
}

.modal-feedback .button {
  min-width: 200px;
}

.modal-map {
  width: 960px;
  height: 560px;
  
  border: none;
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;

  margin: 0;
  padding: 0;
}

.modal iframe {
  position: relative;
  z-index: 2;

  border: 0;
}